---
layout: default
---

<header id="pagetop">
<div class="header-content" >

    <div class="header-content-inner">
        <h1>Vaulted Harmonies</h1>
        <br>
        <h2>Archaeoconcert at Notre-Dame</h2>
    </div>

    <br><br><br>

    <p style="font-size: 20px; font-weight: 350;"><i>A concert through time and space in the cathedral</i>
    </p>

</div>
</header>

<div class="baground-secondary">

<hr class = "line">

<section id="concert">
<div class="container">

<h2>Concert</h2>
<p>Experience the concert in audio 3D.</p>

<div class="row pack">

    {% assign subfolder = site.pages | where_exp: "item" , "item.path contains 'concert_en'"%}

    {% assign sortedPages = subfolder | sort:'name' %}

    {% for page in sortedPages limit:100 %}
    {% if page.thumbnail %}

    <div class="col-xs-12 col-sm-6 col-lg-4 card">

        {% if page.isready %}
        <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor">
            <div class="panel panel-default">
                <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}">

                <div class="panel-body">
                    <h3 class="panel-title">{{ page.title | truncate: 35 }}</h3>
                </div>
            </div>
        </a>

        {% else %}
        <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor disabled">
            <div class="panel panel-default">

                <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}" style="opacity:0.4;">

                <div class="panel-body">
                    <h3 class="panel-title" style="color:gray;">{{ page.title | truncate: 35 }}</h3>
                </div>
            </div>
        </a>
        {% endif %}

    </div>

    {% endif %}
    {% endfor %}

</div>

</div>
</section>

<hr class = "line">

<section id="backstage">
<div class="container">

<h2>Events</h2>
<p style="color: white; text-align: left;">Former dates and upcoming events.</p>

    <div class="row pack">

        {% assign subfolder = site.pages | where_exp: "item" , "item.path contains 'events_en'"%}
        {% assign sortedPages = subfolder | sort:'name' %}

        {% for page in sortedPages limit:100 %}
        {% if page.thumbnail %}


        <div class="col-xs-12 col-sm-6 col-lg-4 card">

            {% if page.isready %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor">
                <div class="panel panel-default">
                    <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}">

                    <div class="panel-body">
                        <h3 class="panel-title">{{ page.title | truncate: 25 }}</h3>
                    </div>
                </div>
            </a>

            {% else %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor disabled">
                <div class="panel panel-default">

                    <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}" style="opacity:0.4;">

                    <div class="panel-body">
                        <h3 class="panel-title" style="color:gray;">{{ page.title | truncate: 25 }}</h3>
                    </div>
                </div>
            </a>
            {% endif %}

        </div>

        {% endif %}
        {% endfor %}

    </div>

</div>


</section>

<hr class = "line">

<section id="backstage">
<div class="container">

<h2 >Backstage</h2>
<p style="color: white; text-align: left;">Explore how the concert was assembled, and how a documented virtual reconstruction was designed to create a first hand experience of the cathedral's musical history.</p>

<!-- <p style="text-align: center; color:white; font-size: 18px; font-weight: 300;">(website under construction)</p> -->

    <div class="row pack">

        {% assign subfolder = site.pages | where_exp: "item" , "item.path contains 'backstage_en'"%}
        {% assign sortedPages = subfolder | sort:'name' %}

        {% for page in sortedPages limit:100 %}
        {% if page.thumbnail %}


        <div class="col-xs-12 col-sm-6 col-lg-4 card">

            {% if page.isready %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor">
                <div class="panel panel-default">
                    <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}">

                    <div class="panel-body">
                        <h3 class="panel-title">{{ page.title | truncate: 25 }}</h3>
                    </div>
                </div>
            </a>

            {% else %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor disabled">
                <div class="panel panel-default">

                    <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}" style="opacity:0.4;">

                    <div class="panel-body">
                        <h3 class="panel-title" style="color:gray;">{{ page.title | truncate: 25 }}</h3>
                    </div>
                </div>
            </a>
            {% endif %}

        </div>

        {% endif %}
        {% endfor %}

    </div>

</div>


</section>


<hr class = "line">

<section id="logos">

<div class="container">
<div class="row text-center" style="margin-bottom: 30px;">

  <div class="col-xs-6 col-sm-4">
    <a href="https://www.sorbonne-universite.fr">
    <img class="logo" src="{{ site.baseurl }}/img/logo_sorbonne_white.png">
    </a>
  </div>

  <div class="col-xs-6 col-sm-4">
    <a href="https://www.conservatoiredeparis.fr">
    <img class="logo" src="{{ site.baseurl }}/img/logo_cnsmdp_white.png">
    </a>
  </div>

  <div class="col-xs-6 col-sm-4">
    <a href="https://www.dada-animation.com">
    <img class="logo" src="{{ site.baseurl }}/img/logo_dada_white.png" style="max-height: 65px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-4">
    <a href="https://www.cnrs.fr">
    <img class="logo" src="{{ site.baseurl }}/img/logo_cnrs_white.png" style="max-height: 65px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-4">
    <a href="https://www.culture.gouv.fr">
    <img class="logo" src="{{ site.baseurl }}/img/logo_mc_white.png" style="max-height: 65px;">
    </a>
  </div>

</div>
</div>

<!-- </section>

<hr class = "line">

<section id="contacts"> -->
<div class="text-center no-padding">
    <a href="mailto:brian.katz@sorbonne-universite.fr">
      <i class="icon-hover fa fa-envelope fa-2x wow bounceIn" data-wow-delay=".1s"></i>
    </a>
    <p style="color: white;">contact</p>
</div>
</section>

</div>

