<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll navbar-link" href="{{ site.baseurl }}/index_fr.html">Home</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-fill" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav nav-fill w-100 navbar-right">

                <!--
                <li class="dropdown">
                    <a href="" class="page-scroll dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                    <ul class="dropdown-menu" style="right: auto; left: auto;">
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/musicology.html">Musicology</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/history.html">History</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/organs.html">Organs</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/recording.html">Recording</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/acoustic.html">Acoustic Simulation</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/auralisation.html">Auralisation</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/graphics.html">Graphics</a>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/production.html">Production</a>
                    </ul>
                </li>
                -->


                <li class="dropdown">
                    <a class="navbar-link" href="{{ site.baseurl }}/index_fr.html#concert"> Concert </a>
                </li>

                <li class="dropdown">
                    <a class="navbar-link" href="{{ site.baseurl }}/index_fr.html#backstage"> Coulisses </a>
                </li>


                <li class="dropdown">
                    <a href="" class="page-scroll dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Langue</a>
                    <ul class="dropdown-menu" style="right: auto; left: auto;">
                        <li><a href="{{ site.baseurl }}/index.html" class="language" rel="it-IT">English</a></li>
                        <li><a href="{{ site.baseurl }}/index_fr.html" class="language" rel="it-IT">Français</a></li>
                    </ul>
                </li>



            </ul>
        </div>
    </div>
</nav>
